{% block extends %}
{{ "{% extends '" }}{{ bundle }}:{{ entity }}:{{ "layout.html.twig' %}" }}
{{ "{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
    <header>
        <h1>{{ entity }} 編集</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">{{ entity }} 編集</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}?{{ returnUrlParam|raw }}" }}">一覧へもどる</a></li>
            </ul>
        </div>
        <form action="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(form) }}" }} name="{{ route_name_prefix }}_edit_form">

            {{ "{{ form_errors(form) }}" }}

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">

                {%- for field, metadata in fields if metadata.id is not defined %}

                    <tr>
                        <th scope="row">{{ "{{ form_label(form."~entity~"."~field~") }}" }}</th>
                        <td><label>
                                {{ "{{ form_errors(form."~entity~"."~field~") }}" }}
                                {{ "{{ form_widget(form."~entity~"."~field~") }}" }}
                            </label></td>
                    </tr>

                {%- endfor %}

                {%- for field, metadata in associations %}

                    <tr>
                        <th scope="row">{{ "{{ form_label(form."~entity~"."~field~") }}" }}</th>
                        <td><label>
                                {{ "{{ form_errors(form."~entity~"."~field~") }}" }}
                                {{ "{{ form_widget(form."~entity~"."~field~") }}" }}
                            </label></td>
                    </tr>

                {%- endfor %}

            </table>
            <div class="submit_box">
                {{ "{% if mode == 'input' %}" }}
                <input type="button" onclick="postConfirm()" value="確認" style="width:100px;"/>
                {{ "{% elseif mode == 'confirm' %}" }}
                <input type="button" onclick="postBack()" value="戻る"/>
                <input type="button" onclick="postSubmit()" value="登録" style="width:100px;"/>
                {{ "{% endif %}" }}
            </div>

            {{ "{{ form_widget(form.subform.buttonAction) }}" }}
            {{ "{{ form_widget(form.subform.returnAddress) }}" }}

        {{ "{{ form_end(form) }}" }}

    </section>

{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    <script type="text/javascript">
        //<![CDATA[
        function postConfirm(){
            document.{{ route_name_prefix }}_edit_form["{{ "{{ form.subform.buttonAction.vars.full_name }}" }}"].value = "confirm";
            document.{{ route_name_prefix }}_edit_form.submit();
        }
        function postSubmit(){
            document.{{ route_name_prefix }}_edit_form["{{ "{{ form.subform.buttonAction.vars.full_name }}" }}"].value = "submit";
            document.{{ route_name_prefix }}_edit_form.submit();
        }
        function postBack(){
            document.{{ route_name_prefix }}_edit_form["{{ "{{ form.subform.buttonAction.vars.full_name }}" }}"].value = "";
            document.{{ route_name_prefix }}_edit_form.submit();
        }
        //]]>
    </script>
{{ "{% endblock %}" }}
{% endblock body %}
