{% block extends %}
{{ "{% extends '" }}{{ bundle }}:{{ entity }}:{{ "layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body -%}" }}
<form action="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" novalidate method="post" {{ "{{ form_enctype(form) }}" }} name="{{ route_name_prefix }}_list">
    <header>
        <h1>{{ entity }} list type2</h1>
    </header>
    <section class="section">
        <h1 class="caption">検索</h1>


        {{ "{{ pdp_pager_hidden_render(pager) }}" }}

        <div class="search_box">

            <div class="error_validation">
                {{ "{{ form_errors(form) }}" }}
            </div>

            <table cellspacing="0">
                <tbody>

                {%- for field, metadata in fields if metadata.id is not defined %}

                    <tr>
                        <th>{{ "{{ form_label(form.search."~field~") }}" }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ "{{ form_errors(form.search."~field~") }}" }}
                            </div>
                                {{ "{{ form_widget(form.search."~field~") }}" }}
                        </td>
                    </tr>

                {%- endfor %}

                {%- for field, metadata in associations %}

                    <tr>
                        <th>{{ "{{ form_label(form.search."~field~") }}" }}</th>
                        <td><label>
                                {{ "{{ form_errors(form.search."~field~") }}" }}
                                {{ "{{ form_widget(form.search."~field~") }}" }}
                            </label></td>
                    </tr>

                {%- endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <td nowrap>
                            <input class="button_100" type="submit" value="検索">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <h1 class="caption"><span id="selectFolderName">一覧</span></h1>

        {% if 'new' in actions -%}
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home">
                    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new', {ret: returnUrlParam}) }}" }}">
                        新規作成
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}

        <table class="gridTable" style="width:100%;">
            <thead>
                <tr>

                    {{ "{% for header in pager.PagerColumn.Rows %}" }}
                        <th class="mainTh sort_cell">
                            {{ "{% if header.Enable %}" }}
                                {{ "{% if header.sortSelected %}" }}
                                    {{ "{% if header.SortType == 'asc' %}" }}
                                        <a href="{{ "{{ path(pager.LinkRouteName, header.query)|raw }}" }}" >
                                            {{ "{{ header.label }}↓" }}
                                        </a>
                                    {{ "{% elseif header.SortType == 'desc' %}" }}
                                        <a href="{{ "{{ path(pager.LinkRouteName, header.query)|raw }}" }}" >
                                            {{ "{{ header.label }}↑" }}
                                        </a>
                                    {{ "{% endif %}" }}
                                {{ "{% else %}" }}
                                    <a href="{{ "{{ path(pager.LinkRouteName, header.query)|raw }}" }}" >
                                        {{ "{{ header.label }}" }}
                                    </a>
                                {{ "{% endif %}" }}
                            {{ "{% else %}" }}
                                {{ "{{ header.label }}" }}
                            {{ "{% endif %}" }}
                        </th>
                    {{ "{% endfor %}" }}

                    <th class="mainTh function_icon_cell"></th>
                    <th class="mainTh function_icon_cell"></th>
                    <th class="mainTh function_icon_cell"></th>
                </tr>
            </thead>
            <tbody class="evenRows">
            {{ '{% for entity in entities %}' }}
                <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id, ret: returnUrlParam }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {%- elseif metadata.type in ['date', 'datetime'] %}

                    <td>{{ '{% if entity.' ~ field|replace({'_': ''}) ~ ' %}{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}

                    <td class="function_icon_cell">
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id, ret: returnUrlParam }) }}" }}"><img src="{{ "{{ asset('bundles/pingdecopongpdpgenerator/img/table.png') }}" }}" width="16" height="16"></a>
                    </td>
                    <td class="function_icon_cell">
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id, ret: returnUrlParam }) }}" }}"><img src="{{ "{{ asset('bundles/pingdecopongpdpgenerator/img/ico_pencil.png') }}" }}" width="16" height="16"></a>
                    </td>
                    <td class="function_icon_cell">
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_delete', { 'id': entity.id, ret: returnUrlParam }) }}" }}"><img src="{{ "{{ asset('bundles/pingdecopongpdpgenerator/img/asico_del_bl.png') }}" }}" width="16" height="16" alt="削除"></a>
                    </td>

                {%- endif %}
            {%- endfor %}

                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>
        <div class="pagerArea clearfix">
            <div class="pagerAreaLeft">
                    <ul class="pager">
                        {{ "{% for page in pager.PagerSelector.PageNo.Rows %}" }}

                            {{ "{% if page.select %}" }}
                                <li class="nowPage">
                                    <a href="#">{{ "{{ page.label }}" }}</a>
                                </li>
                            {{ "{% else %}" }}
                                <li>
                                    <a href="{{ "{{ path(pager.LinkRouteName, page.query)|raw }}" }}" >{{ "{{ page.label }}" }}</a>
                                </li>
                            {{ "{% endif %}" }}

                        {{ "{% endfor %}" }}
                    </ul>
                    <label>表示件数

                        {{ "{{ form_widget(pager.PagerFormView.s.pageSize) }}" }}
                        <script type="text/javascript">
                            //<![CDATA[
                            $('#{{ "{{ pager.PagerFormView.s.pageSize.vars.id }}" }}').change(function(){
                                switch($(this).children(':selected').val()){

                                    {{ "{% for key, param_list in pager.PageSizeParamList %}" }}

                                    case '{{ "{{ key }}" }}':
                                        location.href = "{{ "{{ path(pager.LinkRouteName, param_list)|raw }}" }}";
                                        break;

                                    {{ "{% endfor %}" }}

                                }
                            });
                            //]]>
                        </script>
                    </label>
            </div>
            <div class="pagerAreaRight">全 {{ "{{ pager.AllCount }}" }} 件</div>
        </div>




    </section>
    {{ "{{ form_end(form) }}" }}

{{ "{% endblock %}" }}
{% endblock body %}
